* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ul {
	list-style: none;
}
#bottom-positioner {
	width: 35px;
	height: 0px;
	margin: 300px auto 0;
	padding-top: 1px;
	position: relative;
}
#bottom-positioner:hover {
	width: 300px;
	height: 300px;
	margin: 300px auto 0;
	padding-top: 1px;
}
#button {
	width: 34px;
	height: 34px;
	margin: 0px auto;
}

#info-bar {
	width: 34px;
	height: 34px;
	margin: 150px auto -300px auto;
}
.info {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transition: 0.5s;
	transition-timing-function:ease-in;
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function:ease-in;
	opacity: 0;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
#bottom-positioner:hover .info {
	width: 135px;
	height: 135px;
	top: -160px;
	left: -50px;
	opacity: 1;
	background-color: #7D7D7D;
}
.user {
	position: absolute;
	top: 10%;
	left: 35%;
}
.user span {
	color: white;
	font-size: 18px;
	position: absolute;
	top: -10%;
	right: -100%;
}
.comment {
	position: absolute;
	top: 35%;
	left: 20%;
}
.comment span {
	color: white;
	font-size: 31px;
	position: absolute;
	top: -30%;
	right: -217%;
}
.comment img {
	width: 125%;
}
.posted {
	position: absolute;
	top: 67%;
	left: 20%;
}
.posted span {
	color: #40D9A5;
	font-size: 18px;
	position: absolute;
	top: -6%;
	left: 111%;
	font-weight: 900;
}
.like {
	position: absolute;
	top: 67%;
	left: 55%;
}
.like span {
	color: #40D9A5;
	font-size: 18px;
	position: absolute;
	top: -6%;
	left: 120%;
	font-weight: 900;
}
#control-ring {
	width: 100px;
	height: 34px;
	margin:300px auto -68px auto;
}
#control-ring li {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #757574;
	position: relative;
}
.unread {
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	color: white;
	font-size: 18px;
	text-align: center;
	background-color: #FE3730;
	position: absolute;
	top: -5px;
	right: -9px;
}
.mask {
	top: -38px;
	left: 0px;
	opacity: 0;
	transition: 0.5s;
	transition-timing-function:ease-in;
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function:ease-in;
}
.history {
	top: -78px;
	left: 0;
	opacity: 0;
	transition: 0.5s;
	transition-timing-function:ease-in;
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function:ease-in;
}
.message {
	top: -120px;
	left: 0;
	opacity: 0;
	transition: 0.5s;
	transition-timing-function:ease-in;
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function:ease-in;
}
.setting {
	top: -163px;
	left: 0;
	opacity: 0;
	transition: 0.5s;
	transition-timing-function:ease-in;
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function:ease-in;
}
.sign {
	top: -206px;
	left: 0;
	opacity: 0;
	transition: 0.5s;
	transition-timing-function:ease-in;
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function:ease-in;
}
/*when hover, these action*/

#bottom-positioner:hover .mask {
	top: -75px;
	left: -78px;
	opacity: 1;
}
#bottom-positioner:hover .history {
	top: -70px;
	left: -90px;
	opacity: 1;
}
#bottom-positioner:hover .message {
	top: -67px;
	left: -68px;
	opacity: 1;
}
#bottom-positioner:hover .setting {
	top: -86px;
	left: -23px;
	opacity: 1;
}
#bottom-positioner:hover .sign {
	top: -134px;
	left: 30px;
	opacity: 1;
}

#control-ring li img {
	position: absolute;
	top: 10px;
	left: 10px;
}
#control-ring-container {
	opacity: 1;
}
.apb {
	width: 62px;
	height: 62px;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
}
.icon {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #A5A2CB;
	background-size: 50%;
	background-position: 50%;
	background-image: url(../images/atplus_white.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	transition-delay: 0.6s;
	transition-duration:0.6s;
	-webkit-transition-delay: 0.6s;
	-webkit-transition-duration:0.6s;
}
#bottom-positioner:hover .icon {
	width: 62px;
	height: 62px;
	background-color: #3139A4;
	background-image: url(../images/atplus_green.png);
	top: -8px;
	left: -14px;
	transition-delay: 0s;
	transition-duration:0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration:0.5s;
}
.icon img {
	display: block;
	width: 80%;
	height: 56%;
	opacity: 1;
	position: absolute;
	top: 20%;
	left: 10%;
	transition-delay: 0s;
	transition-duration: 0.8s;
	-webkit-transition-delay: -1s;
	-webkit-transition-duration: 0.8s;
}
#bottom-positioner:hover .icon img {
	width: 51px;
	height: 36px;
	opacity: 0;
	transition-delay: 0s;
	transition-duration:0s;
	-webkit-transition-delay: -0.5s;
	-webkit-transition-duration:0.2s;
}